.ml-1 {
    margin-left: .5em;
  }
  .fw-1 {
    font-weight: 100;
  }
  .fw-3 {
    font-weight: 300;
  }
  .fw-6 {
    font-weight: 600;
  }
  .fw-8 {
    font-weight: 800;
  }
  .f-12 {
    font-size: 12px;
  }
  .f-14 {
    font-size: 14px;
  }
  .f-16 {
    font-size: 16px;
  }
  .cp {
      cursor: pointer;
  }
  .ml-m {
    margin-left: 1em;
  }