<template>
    
    <div class="main" v-if="!onShowCountry">
        <div class="mx-4">
            <div class="d-flex justify-content-between">
                <div class="search">
                    <span><i class="fa fa-search"></i></span>
                    <span class="search-bar"><input v-model="search" type="text" placeholder="Search for a country..." /></span>
                </div>
                <div class="dropd">
                    <span class="btn-filter px-4 py-2 f-14">
                        Filter by Region<i class="arrow down ml-m"></i>
                    </span>
                    <div class="dropd-menu mt-2">
                        <a class="cp dropd-item f-14 px-4 py-2"
                        @click="filteredLists('')"
                        >None</a>
                        <a class="cp dropd-item f-14 px-4 py-2"
                        @click="filteredLists('Africa')"
                        >Africa</a>
                        <a class="cp dropd-item f-14 px-4 py-2"
                        @click="filteredLists('Americas')"
                        >Americas</a>
                        <a class="cp dropd-item f-14 px-4 py-2"
                        @click="filteredLists('Asia')"
                        >Asia</a>
                        <a class="cp dropd-item f-14 px-4 py-2"
                        @click="filteredLists('Europe')"
                        >Europe</a>
                        <a class="cp dropd-item f-14 px-4 py-2"
                        @click="filteredLists('Oceania')"
                        >Oceania</a>
                    </div>
                </div>
            </div>
            
                
        </div>
        
        <div class="d-flex align-content-start flex-wrap">
            <div class="card cp card-flex mx-4 my-2"
            v-bind:key="country.name"
            v-for="country in filteredList"
            @click="clickedCountry(country)"
            >
                <div class="card-header">
                    <img :src="country.flag">
                </div>
                <div class="card-body cb d-inline">
                    <div class="fw-6 f-16 my-2">
                        <span>{{ country.name }}</span>
                    </div>
                    <div class="f-14 mt-2">
                        <span class="fw-3">Population: </span>
                        <span class="fw-1">{{ (country.population.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")) }}</span>
                    </div>
                    <div class="f-14 mt-2">
                        <span class="fw-3">Region: </span>
                        <span class="fw-1">{{ country.region }}</span>
                    </div>
                    <div class="f-14 mt-2">
                        <span class="fw-3">Capital: </span>
                        <span class="fw-1">{{ country.capital }}</span>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    <div class="main" v-else>
        <div class="mx-4">
            <span class="btn-filter p-2" @click="back()">&#x2190; Back</span>
        </div>
        <div class="d-flex justify-content-center flex-wrap">
            <div class="card card-details-flex mx-4 my-2">
                <div class="card-body md p-0 d-inline">
                    <img class="img-country wd" :src="selectedCountry.flag">
                </div>
            </div>

            <div class="card border-0 card-details-flex mx-4 my-2">
                <div class="card-body md p-0 d-inline">
                    <span class="f-16 fw-8">{{selectedCountry.name}}</span>
                    <div class="row mt-5">
                        <div class="col-6">
                            <span class="f-14 fw-3">Native Name: </span>
                            <span class="f-12 m-f">{{selectedCountry.nativeName}}</span>
                        </div>
                        <div class="col-6">
                            <span class="f-14 fw-3">Top Level Domain: </span>
                            <span class="f-12 m-f">{{ topleveldomain }}</span>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-6">
                            <span class="f-14 fw-3">Population: </span>
                            <span class="f-12 m-f">{{ populate }}</span>
                        </div>
                        <div class="col-6">
                            <span class="f-14 fw-3">Currencies: </span>
                            <span class="f-12 m-f">{{ currency }}</span>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-6">
                            <span class="f-14 fw-3">Region: </span>
                            <span class="f-12 m-f">{{selectedCountry.region}}</span>
                        </div>
                        <div class="col-6">
                            <span class="f-14 fw-3">Languages: </span>
                            <span class="f-12 m-f"
                            v-bind:key="language.name"
                            v-for="(language, index) in selectedCountry.languages"
                            >
                            {{ language.name }}<span v-if="index+1 < selectedCountry.languages.length">, </span>
                            </span>
                            
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-6">
                            <span class="f-14 fw-3">Sub Region: </span>
                            <span class="f-12 m-f">{{selectedCountry.subregion}}</span>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-6">
                            <span class="f-14 fw-3">Capital: </span>
                            <span class="f-12 m-f">{{selectedCountry.capital}}</span>
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col-12">
                            <span class="f-14 fw-3">Border Countries: </span>
                            <span class="f-12 m-f"
                            :key="border.name"
                            v-for="border in borders"
                            @click="clickedCountry(border)"
                            >
                                <button class="button-border m-1 p-1">{{ border.name }}</button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</template>

<script>
import axios from 'axios'

export default {
  props: ['mode'],
  data() {
        return {
            search: '',
            countries: [],
            selectedCountry: {},
            currency: {},
            topleveldomain: {},
            populate: {},
            onShowCountry: false,
            borderdata: {},
            borders: [],
            test: {},
            byreg: [],
            border_api: "https://restcountries.eu/rest/v2/alpha/"
        }
    },
  computed: {
        filteredList: function() {
            return this.countries.filter(country => {
                return country.name.toLowerCase().includes(this.search)
            })
        }
    },
  methods: {
    clickedCountry(country) {
        this.borders = []
        this.selectedCountry = country
        this.onShowCountry = true
    
        this.selectedCountry.currencies.forEach(x => {
            this.currency = x.name;
        })

        this.selectedCountry.topLevelDomain.forEach(res => {
            this.topleveldomain = res
        })

        this.populate = this.selectedCountry.population.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");

        this.selectedCountry.borders.forEach(x => {
            axios.get(this.border_api + x).then(res => (
                this.borderdata = res.data,
                this.borders.push(this.borderdata),
                console.log(this.borders)
            ))
        })
        

    },
    back() {
        this.onShowCountry = false
        this.borders = []
    },
    filteredLists(reg) {
        if(reg === '') {
            axios.get('https://restcountries.eu/rest/v2/all').then(response => (
                this.countries = response.data
            ))
        }
        axios.get('https://restcountries.eu/rest/v2/region/' + reg).then(response => (
            this.countries = response.data
            ))
    }
  },
  mounted() {
        axios.get('https://restcountries.eu/rest/v2/all').then(response => (
            this.countries = response.data
            ))

    }
}
</script>

<style>
@media (max-width: 400px) {
  .d-flex {
    flex-direction: column;
  }
  .md {
      width: 270px;
  }
  .wd {
    height: 250px;
}
  
}

.search {
    position: relative;
    display: inline-block;
    padding: .5em 1em;
    margin-bottom: 1em;
    background:hsl(0, 0%, 100%);
    color: hsl(200, 15%, 8%);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.25);
}
.dark .search {
    background: hsl(209, 23%, 22%);
    color: hsl(0, 0%, 100%);
}
.search-bar {
    position: relative;
}
.search-bar input {
    background: transparent;
    border: none;
    outline: none;
    margin-left: 20px;
    color: hsl(200, 15%, 8%);
}
.dark .search-bar input {
    color: hsl(0, 0%, 100%);
}

.main {
  padding: 25px;
}

.card-flex {
    flex: 20%;
}

.card-details-flex {
    flex: 5%;
}

.card {
    margin: 0;
    padding: 0;
    background: inherit;
    max-width: 500px;
    border: none;
}

.card-header {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
.dark .card-header {
    background: hsl(209, 23%, 22%);
}
.card-header img {
    width: 100%;
    height: 200px;
}
.cb {
    background: hsl(0, 0%, 100%);
}
.dark .cb {
    background: hsl(209, 23%, 22%);
}

.img-country {
    width: 100%;
    height:300px
}
.m-f {
      color: hsl(0, 1%, 36%);
  }
.dark .m-f {
      color: hsl(0, 2%, 73%);
  }
.button-border {
    background: hsl(0, 0%, 98%);
    color: hsl(200, 15%, 8%);
}
.dark .button-border {
    background: hsl(207, 26%, 17%);
    color: hsl(0, 0%, 100%);
}
.btn-filter {
    background: hsl(0, 0%, 100%);
    color: hsl(200, 15%, 8%);
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.25);
  }
.dark .btn-filter {
    background:hsl(209, 23%, 22%);
    color: hsl(0, 0%, 100%);
  }
.arrow {
    border: solid hsl(200, 15%, 8%);
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
  }
.dark .arrow {
    border: solid hsl(0, 0%, 100%);
    border-width: 0 3px 3px 0;
  }
.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
.dropd {
    position: relative;
    display: inline-block;
}
.dropd-menu {
    display: none;
    position: absolute;
    z-index: 1;
    background: hsl(0, 0%, 100%);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.25);
    border-radius: 5px
}
.dropd-menu a {
    display: block;
}
.dark .dropd-menu {
    display: none;
    position: absolute;
    z-index: 1;
    background: hsl(209, 23%, 22%);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.25);
    border-radius: 5px
}
.dropd:hover .dropd-menu{
    display: block;
}
.dropd-item {
    text-decoration: none;
    color: hsl(200, 15%, 8%);
}
.dark .dropd-item {
    text-decoration: none;
    color: hsl(0, 0%, 100%);
}
</style>