<template>
    <!-- <div>
        <h1>test</h1><br>
        <div
        v-bind:key="country.name"
        v-for="country in countries"
        >
            {{ country.name }}
        </div>
    </div> -->
    <div class="app" :class="mode">
        <NavBar :mode="mode" @toggle="toggle" />
        <Content :mode="mode" />
    </div>
</template>

<script>
// import axios from 'axios';
// import DataService from '../DataService'

import NavBar from './Navbar';
import Content from './Content'

export default {
    name: "Home",
    data() {
        return {
            mode: 'dark',
            countries: []
        }
    },
    components: {
        NavBar,
        Content
    },
    created () {
        window.addEventListener('keyup', this.keyPress)
    },
    methods: {
        keyPress (e) {
            if (e.key === 't') {
                this.toggle()
            }
        },
        toggle () {
            if (this.mode === "dark") {
                this.mode = "light"
            } else {
                this.mode = "dark"
            }
        }
    }
    
}
</script>

<style scoped>
@media (max-width: 400px) {
    .app {
        width: 100vw;
        height: 100%;
        overflow: scroll;
        background:hsl(0, 0%, 98%);
        color: hsl(200, 15%, 8%);
    }
}

.app {
    width: 100vw;
    height: 100vh;
    overflow: scroll;
    background:hsl(0, 0%, 98%);
    color: hsl(200, 15%, 8%);
}
.app::-webkit-scrollbar {
    display: none;
}

.dark {
    background: hsl(207, 26%, 17%);
    color: hsl(0, 0%, 100%);
}
</style>