<template>
    <header>
        <div class="title">Where in the world?</div>
        <Toggle :mode="mode" @toggle="$emit('toggle')" />
       
    </header>
</template>

<script>
import Toggle from './Toggle';

export default {
    props: ['mode'],
    components: {
        Toggle
    }
}
</script>

<style>
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 2em;
    background: hsl(0, 0%, 100%);
}

.dark header {
    background:  hsl(209, 23%, 22%);
}

header .title {
  font-size: 16px;
  font-weight: 800;
}
</style>