<template>
  <div class="toggle-wrapper">
    <label class="toggle">
      <input 
        type="checkbox" 
        :checked="(mode === 'dark') ? 'checked' : false" 
        @change="$emit('toggle')"
      />
      
      <div class="flex">
          <span><i class="fa fa-moon"></i></span>
          <span class="ml-1 caps">{{ mode }} Mode</span>
      </div>
    </label>
  </div>
</template>

<script>
export default {
  props: ['mode']
}
</script>

<style>
.toggle {
  display: inline-block;
  width: max-content;
  cursor: pointer;
}
.toggle input {
  opacity: 0;
  width: 0;
  height: 0;
}
.flex {
    display: inline-flex;
    font-size: 14px;
}
.caps {
    text-transform: capitalize;
    font-weight: 300;
}
</style>