<template>
  <div id="app">
    <!-- <CountryDetails /> -->
    <Home />
  </div>
</template>

<script>
import Home from './components/Home.vue'
// import CountryDetails from './components/CountryDetails'

export default {
  name: 'App',
  components: {
    Home
    // CountryDetails
  }
}
</script>

<style>
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Nunito Sans';
}

body {
  line-height: 1.4;
}
</style>
